.layout {
  margin-left: 80px;
  transition: all 0.2s;
}

.active {
  transition: all 0.5s;
  margin-left: 280px;
}

@media (max-width: 991px) {
  .layout, .active {
    margin-left: 0 !important;
  }
}
